<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--environment details-->
    <add key="browser" value="Chrome"/>
    <add key="environment" value="local"/>
    <add key="produrl" value=""/>
    <add key="devurl" value="http://www.amazon.co.uk/"/>
    <add key="Email" value="test@gmail.com"/>
    <add key="Password" value="Test@123"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" /></specFlow>
</configuration>